build/
build-win-x86_64/
build-webgl/
.emsdk/
.cache/
.venv-diffusion/
compile_commands.json
_Catch2/
_deps/
*.o
*.a
*.so
*.dylib
*.exe
.codesign/
.DS_Store
build-release/
scripts/__pycache__/
.cursor/
*.pyc
